.dog-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  text-align: center;

  img {
    width: 15rem;
  }

  .MuiTypography-root {
    margin: 0;
  }

  .MuiCardActions-root {
    justify-content: center;
  }
}
