.create-beer-formik {
  padding: 2rem;

  &__title {
    text-align: center;
    color: #595959;
    margin-top: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input-container {
    margin-bottom: 1rem;
  }

  .MuiFormControl-root,
  Button {
    width: 100%;
  }
}
