.beer-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 3rem;

  &__input {
    width: 100%;
    display: grid;
    grid-template-columns: 13% 85%;
    column-gap: 2%;
    align-items: center;
    justify-items: flex-end;
    margin-bottom: 1.5rem;

    &.checkbox-input {
      justify-items: flex-start;
    }

    .ant-select {
      width: 100%;
    }
  }

  &__label {
    height: 2rem;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;

    &.required-field::before {
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }
  }

  Button {
    margin-left: 15%;
    width: fit-content;
  }
}
