.dog-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  text-align: center;

  .ant-card-cover {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
  }

  h4,
  p {
    margin: 0;
  }
}
